# Ignore node_modules directory
node_modules/

# Ignore .env files (contains sensitive information)
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore build artifacts
dist/
build/
out/

# Ignore logs and temp files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package.json
